
/* style sheet to correspond with tag library */

body {
   overflow:auto;
   background-color:#ffffff;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 10pt; 
   color: #000000;  
   margin:0; 
   padding:0; 
   border:0; 
}

a:link    {color:#000000; text-decoration: underline;} 
a:visited {color:#000000; text-decoration: underline;}

td {font-family: Arial,Helvetica,sans-serif; font-size: 9pt;} 
br {line-height: 8px; clear:both}
.cuesBrSmall {line-height: 6px; clear:both}
#cues8padding {padding:8px}
#cues6padding {padding:6px}
 

/* Dialog */
.dialog_header {background-color: #BDBDC2;  border-right:1px solid #858A91;  border:1px solid #858A91;font-family: Arial,Helvetica,sans-serif; font-size: 10pt;; font-weight:bold; padding:0 8px; text-align:center; line-height:19px}

/* Pane */
.pane_header {background-color: #BDBDC2;  border-right:1px solid #858A91;  border:1px solid #858A91;font-family: Arial,Helvetica,sans-serif; font-size: 10pt;; font-weight:normal; padding:0 8px; text-align:center; vertical-align:middle; line-height:19px}

/* Tab */
a.cuesTabLink:link    {color: #000000; text-decoration: none;} 
a.cuesTabLink:visited {color: #000000; text-decoration: none;}
a.cuesTabLink:hover   {color: #000000; text-decoration: none;}
a.cuesTabLink:active  {color: #000000; text-decoration: none;} 
.cuesTabNavGapBelow   {font-size:1px;line-height:8px;}

/* Form Controls */
form {display:inline}
input, select, optgroup, option, textarea, button{font-family: Arial,Helvetica,sans-serif; font-size: 1em;}
.cuesCheckbox {vertical-align:middle}
.invisibleLabel {display:none}
.cuesErroredControl {background-color: #FFFFCC;}
.cuesErrorBox {border:1px solid #CC0000; padding:8px; margin:8px; color:#CC0000}
.cuesErrorText {color:#CC0000}

/* Group Box */
fieldset {padding:0; border:1px solid #858A91;}
.cuesGroupBox1OnRow {margin:8px 8px 0 8px}
.cuesGroupBoxTitle {font-family: Arial,Helvetica,sans-serif; font-size: 1em; color: #000000; font-weight:bold;}

/* Buttons */
#cuesButtonRowLeft, #cuesButtonRowRight {position: relative; text-align:right; margin:0; padding:0 8px 8px 8px}
.cuesButtonRow {text-align:right; margin:0; padding:0}
.cuesButton { font-size: 1em; margin: 0 0 0 3px; cursor:pointer}

/* Table */
.cuesTableTitleBg {width: 100%; background-color: #669999;    border-left:1px solid #858A91; border-top:1px solid #858A91; border-right:1px solid #858A91;}
.cuesTableTitle {font-family: Arial,Helvetica,sans-serif; font-size: 9pt; font-weight : bold; color: #FFFFFF; padding:4px 8px}
.cuesTableTitleButtonRow {margin:0; padding:2px 8px;  }
.cuesTableFilterArea {background-color: #F8F8F8; border-left:1px solid #858A91; border-right:1px solid #858A91; border-top:1px solid #858A91; padding:8px}
.cuesTableBg {border-right:1px solid #858A91; border-bottom:1px solid #858A91;border-left:1px solid #858A91;}
.cuesTableBg th {background-color: #BDBDC2;  border-right:1px solid #858A91;  border-bottom:1px solid #858A91;font-family: Arial,Helvetica,sans-serif; font-size: 0.6em; font-weight:normal; padding:0 8px; text-align:center; vertical-align:middle; line-height:19px}
.cuesTableBg th {background-color: #BDBDC2; border-right:1px solid #858A91;  border-bottom:1px solid #858A91;font-family: Arial,Helvetica,sans-serif; font-size: 0.7em; font-weight:normal; padding:0 8px; text-align:center; vertical-align:middle; line-height:19px}
.cuesTableColumnHeaderSorted { font-weight: bold;  }
.cuesTableBg td  {padding:0 8px; vertical-align:middle; line-height: 19px}
.cuesTableRowOdd {background-color: #F8F8F8; }
.cuesTableRowEven {background-color: #EBEBEB; }
.cuesTableRowSelected {background-color: #C0D5D5; }
.cuesTableButtonArea {width:100%; background-color: #F8F8F8; border-left:1px solid #858A91; border-right:1px solid #858A91; border-bottom:1px solid #858A91;}
.cuesTableButtonArea td  {padding:8px;}

/* Nav Area */
.cuesNavTitle {background-color:#6b7485;border-bottom:1px solid #858A91;width:100%;margin:0px;padding:4px 11px;font-family:Arial,Helvetica,sans-serif;font-size:1.1em;color:#ffffff;font-weight:bold;}

/* Content Area*/
#cuesContentBg {position:static; height:100%; background-color: #F8F8F8; border:1px solid #858A91;}
* html #cuesContentBg { width:100%; }
#cuesContentTitleBg {position:absolute; top:0; left:0; right:1px; height:29px; max-height:29px; border-top:1px solid #858A91;  border-right:1px solid #858A91; border-left:1px solid #858A91;  overflow:hidden; background-color: #6B7485; margin:0; padding: 6px 0 0 0;}
* html #cuesContentTitleBg {width:101%;}
.cuesContentTitle { font-family: Arial,Helvetica,sans-serif; font-size: 1.1em; font-weight : bold; color: #FFFFFF; margin: 0px 11px; }
#cuesContentBodyBg {position:fixed; top:29px; left: 0; right:1px; bottom: 1px; overflow:auto; background-color: #F8F8F8; padding:8px}
* html #cuesContentBodyBg { width:100%;  height:100%;}

.treeIcon          {vertical-align:text-bottom;}
.treeCheckbox      {margin-top:-3px;vertical-align:middle;}
.mixedtreeCheckbox {background-color:#c0c0c0;margin-top:-3px;vertical-align:middle;}

/* Drawer Area*/
.cuesDrawersContainer   {line-height:18px;overflow:hidden;background-color:#DBDBDB;border-top:1px solid #858A91;padding:0;}
.cuesDrawer             {font-family: Arial,Helvetica,sans-serif;font-size:9pt;color:#000000;height:30px;padding:0;cursor:pointer;vertical-align:top;background-repeat:repeat-x;background-image:url('../+CSCOU+/portal_img/drawerBg.gif');}
.cuesDrawerContent      {background-color:#f8f8f8;overflow:auto;border-bottom:1px solid #858A91;}
.cuesDrawerIcon         {margin:0 6px 0 0;vertical-align:middle}
.cuesDrawerIconNoChild  {margin:5px 6px 6px 21px;vertical-align:top}
.cuesSelectedDrawerItem {margin-left:-38px;background-color:#C0D5D5;font-family:Arial,Helvetica,sans-serif;font-size:9pt;padding:0px;}
.cuesNormalDrawerItem   {margin-left:-38px;background-color:#F8F8F8;font-family:Arial,Helvetica,sans-serif;font-size:9pt;padding:0px;}
.cuesNormalTreeDrawerItem   {background-color: #F8F8F8;font-family:Arial,Helvetica,sans-serif;font-size:10pt;;padding:0px;}
.cuesSelectedTreeDrawerItem {background-color: #C0D5D5;font-family:Arial,Helvetica,sans-serif;font-size:10pt;;padding:0px;}
a.cuesDrawerLink:link           {color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:9pt;} 
a.cuesDrawerLink:visited        {color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:9pt;}
a.cuesDrawerLink:hover          {color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:9pt;}
a.cuesDrawerLink:active         {color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:9pt;} 
a.cuesDrawerItemLink:link       {color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:9pt;} 
a.cuesDrawerItemLink:visited    {color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:9pt;}
a.cuesDrawerItemLink:hover      {color:#333399;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:9pt;}
a.cuesDrawerItemLink:active     {color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:9pt;} 
.cuesDrawerScrollerDown         {border-top:1px solid #858A91;}
.cuesDrawerScrollerUp           {border-bottom:1px solid #858A91; }

/* Header Area*/
.cuesHeaderBg {width: 100%;}
.cuesHeaderAccent {background: #003333; height:8px} 
.cuesHeaderTitleLogo {font-weight:bold; font-size: 1.05em; color: #003333; height:59px}
.cuesHeaderTitleChromeNoLogo {font-weight:bold; font-size: 1.05em; color: #003333; padding:0 12px; height:42px}
.cuesHeaderTitleChromelessNoLogo {font-weight:bold; font-size: 0.95em; color: #003333; padding:0 12px; height:31px}
.cuesHeaderText {color: #FFFFFF; padding:0 12px;}
.cuesHeaderTextBold {color: #FFFFFF; padding:0 12px;font-weight:bold;}
a.cuesHeaderLink:link {color: #FFFFFF; text-decoration: none; padding:0 12px;} 
a.cuesHeaderLink:visited {color: #FFFFFF; text-decoration: none; padding:0 12px;}
a.cuesHeaderLink:hover {color: #FFFFFF; text-decoration: underline; padding:0 12px;}
a.cuesHeaderLink:active {color: #FFFFFF; text-decoration: none; padding:0 12px;} 
a.cuesHeaderLinkBold:link {color: #FFFFFF; text-decoration: none; padding:0 12px;font-weight:bold;} 
a.cuesHeaderLinkBold:visited {color: #FFFFFF; text-decoration: none; padding:0 12px;font-weight:bold;}
a.cuesHeaderLinkBold:hover {color: #FFFFFF; text-decoration: underline; padding:0 12px;font-weight:bold;}
a.cuesHeaderLinkBold:active {color: #FFFFFF; text-decoration: none; padding:0 12px;font-weight:bold;} 

/* Toolbar */
a.cuesToolbarLink:link       {color: #000000; text-decoration: none;} 
a.cuesToolbarLink:visited    {color: #000000; text-decoration: none;}
a.cuesToolbarLink:hover      {color: #000000; text-decoration: none;}
a.cuesToolbarLink:active     {color: #000000; text-decoration: none;} 

/* Menu Area*/
.udm a {font-family: Arial,Helvetica,sans-serif;font-size:1em; text-decoration: none;}
#udm a {font-family: Arial,Helvetica,sans-serif;font-size:1em; text-decoration: none;}
.udmsubmenu {font-family: Arial,Helvetica,sans-serif;font-size:1em;}
#udmsubmenu {font-family: Arial,Helvetica,sans-serif;font-size:1em;}
.udmsubmenu ul.udmsubmenu a {font-family: Arial,Helvetica,sans-serif;font-size:11px; text-decoration: none}
#udmsubmenu ul.udmsubmenu a {font-family: Arial,Helvetica,sans-serif;font-size:11px; text-decoration: none}

/* Breadcrumb Area*/
.cuesBreadcrumbStatic        {font-family:Arial,Helvetica,sans-serif;}
.cuesBreadcrumbLast          {font-weight:bold;font-size:1em;}
a.cuesBreadcrumbLink:link    {color:#000000;}
a.cuesBreadcrumbLink:visited {color:#000000;}
a.cuesBreadcrumbLink:hover   {color:#000000;}
a.cuesBreadcrumbLink:active  {color:#000000;}

/* Layout */
#cuesLayoutTogglerArea {background-color:#dbdbdb;border-width:1px 0px;border-color:#858A91;border-style:none;}
#cuesLayoutNavArea     {background-color:#dbdbdb;border-width:1px;border-color:#858A91;border-style:solid;}
#cuesLayoutContentArea {background-color:#dbdbdb;border-width:1px;border-color:#858A91;border-style:solid;}


#form_title {width: 100%; height: 25px;background-color: #cccccc;  border-bottom:1px solid #858A91;}
#form_title_text {font-family: Arial,Helvetica,sans-serif; font-size: 9pt; font-weight : bold;  padding:4px 8px}
#form_table {border:1px solid #858A91}
#banner_td {border-bottom:1px solid #858A91}


.pane_header {background-color: #BDBDC2;   border-right:1px solid #858A91;  border:1px solid #858A91;font-family: Verdana,Helvetica,sans-serif; font-size: 10pt; font-weight:normal; padding:0 8px; text-align:center; vertical-align:middle; line-height:19px}

.pane {
background-color: #ffffff; font-size: 9pt; 
border:1px solid #858A91;
}

.historyEntry {
         text-indent:   4px;
         cursor:pointer;
}

.historyHide {
         text-indent:   4px;

}


.drawer{
         text-indent:20px;
         height:30px;padding:0;cursor:pointer;
         vertical-align:top;
         background-repeat:repeat-x;background-image:url(../+CSCOU+/portal_img/drawerBg.gif);
}

.banner{
         text-indent:20px;
         border:1px solid #858A91;
         height:100px;padding:0;
         vertical-align:top;
         background-color : #ffffff;
}


.toolbar{
         background-color : #dbdbdb; border-bottom:1px solid #858A91;
}



