
<html>
<head>
<meta http-equiv="Content-Language">
<meta http-equiv="Content-Type" content="text/html">
<meta name="robots" content="none">
<title>UC Davis Library VPN</title>

<script src="/dana-na/css/ds.js"></script>
<script>
        WriteCSS();
</script>
<noscript>
<link rel="stylesheet" href="/dana-na/css/ds.css">
</noscript>

<script>
<!--
if (window.top != self) {
	top.location = location;
}
if(window.name == "newpincancel" || window.name == "nexttokencancel") {
   window.close();
}
//--></script>
<script>
<!--
function hideJSWarn() {
    if(window.top == self) {
        document.getElementById('noJSWarn').style.display = "none";
    }
}
//--></script>

<script src="/dana-na/auth/lastauthserverused.js"></script>
<script>function deletepreauth() {
    document.cookie = "DSPREAUTH="+ escape("")+ ";path=/dana-na/;expires=12-Nov-1996";
}
</script>

</head>

<body onload="FinishLoad(1);hideJSWarn();" bgcolor="#FFFFFF" color="#000000" link="#3366CC" vlink="#CC6699" alink="#3366CC" leftmargin="0" topmargin="0" rightmargin="0" marginwidth="0" marginheight="0">

<div id="noJSWarn" class="cssSecurityWarning">Your browser is executing scripts on this page. If this message persists, please make sure that you are visiting a correct site and JavaSript support is enabled in your browser, and then try again.</div>
<table border="0" width="100%" cellspacing="0" cellpadding="3">
        <tr>
            <td bgcolor="FFFFFF"><img border="0" src="welcome.cgi?p=logo&signinId=url_default" alt="Logo"></td>
	        <td bgcolor="FFFFFF" align="right">&nbsp;</td>

        </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
                <td bgcolor="#000000" colspan="2"><img border="0" src="/dana-na/imgs/space.gif" width="1" height="1"></td>
        </tr>
</table>
<blockquote><form method="get" action="index" name="frmLogin" autocomplete="off" onsubmit="return Login(1)">
        <input type="hidden" name="tz_offset">
        <table border="0" cellpadding="2" cellspacing="0">
                                        <tr>
                                                <td nowrap  colspan="3"><b>Connecting from off campus</b></td>
                                        </tr>
                                        <tr>
                                                <td nowrap  colspan="3"><span class="cssLarge"><b>UC Davis Library VPN</b></span></td></tr>
                                      
                                        <tr>
                                              <td colspan="3">&nbsp;</td>
                                        </tr>
				<tr>
				
                                <td valign="top">
                                
                                        <table border="0" cellspacing="0" cellpadding="2">													<tr>
														<td>Username</td>
														<td>&nbsp;</td>
														<td><input type="text" name="username" size="20"></td>
													</tr>													<tr>
														<td>Password</td>
														<td>&nbsp;</td>
														<td><input type="password" name="password" size="20"></td>
													</tr>                                                <tr>                                                                <input type="hidden" name="realm" value="Library">                                                </tr>                                                <tr>
                                                        <td colspan="3">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td><input type="submit" value="Sign In" name="btnSubmit">&nbsp;</td>
                                                </tr>                                        </table>
                              
                        </td>
                        <td valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td valign="top"><table border="0" cellspacing="0" cellpadding="2">
<tr><td>Please sign in using your campus <a href="https://computingaccounts.ucdavis.edu">kerberos password</a>.<br>  <a href="http://www.lib.ucdavis.edu/ul/services/connect/vpn/">Need Help?</a>  <br><br>Learn more about <a href=" http://www.lib.ucdavis.edu/ul/services/connect/">how to use the VPN client</a>.<br></tr></td></table></td>
	</tr>
        </table>  </form>
</blockquote>

<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td background="/dana-na/imgs/footerbg.gif">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
					<td><img src="/dana-na/imgs/space.gif" width="10" height="10"></td>
					<td><img src="/dana-na/imgs/space.gif" width="1" height="2"></td>
					<td><img src="/dana-na/imgs/space.gif" width="10" height="10"></td>
        </tr>
				<tr valign="top">
					<td><img src="/dana-na/imgs/space.gif" width="10" height="1"></td>
					<td nowrap ><br><br><br><br>
					<td align="right"><img src="/dana-na/imgs/space.gif" width="10" height="10"></td>
        </tr>
			</table>
		</td>
        </tr>
        <tr>
		<td colspan="2"><img border="0" src="/dana-na/imgs/space.gif" height="6" width="1" alt=""></td>
        </tr>
</table>

</body>
</html>
